@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

.Content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:55px;
    padding-top: 15px;
}

.productContainer{
    padding:8px;
    margin-top: 15px;
}
.productContainer .item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.separatorContainer{
    margin-top: 35px;
    margin-bottom: 35px;
}

a{
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .productContainer{
        flex-direction: column;
    }
}